@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-dark: #1a1a1a;
  --color-brand-accent: #4a5d4e; /* Deep sage green */
  --color-brand-paper: #f9f8f6;
}

@layer base {
  body {
    @apply bg-brand-paper text-brand-dark font-sans antialiased;
  }
  
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}

.whitespace-pre-line {
  white-space: pre-line;
}
